<!DOCTYPE html>
<html lang="en" data-darkreader-mode="dynamic" data-darkreader-scheme="dark" dir="ltr">
<header>
    <title>Dashboard</title>
</header>
<body>
   <h1>The Dashboard for the meeting {{ meeting.meetingId }} is not ready yet</h1> 
</body>

</html>